body {
    background-color: #cccccc2c;
}
/* Logo */
div#logo img{
    width: 12%;
    border-radius: 5px;
    float: left;
}
@media screen and (max-width: 790px) {
    div#logo img{
        width: 15%;
    }
}
h1 {
    color: #0C0D0D;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
section#home {
    width: 80%;
    background-color: white;
    border-radius: 5px;
    box-shadow: 2px 2px rgba(0,0,0,0.5);
    padding: 5px;
    margin: auto;
}
section#home ul {
    list-style-type: none;
    margin: auto;
}
section#home ul li{
    text-decoration: none;
    margin: auto;
    width: 80%;
}
h2{
    color: #0C0D0D;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
p {
    font-family: Arial, Helvetica, sans-serif;
}
section#home menu{
    width: 95%;
    text-align: center;
    background-color: rgba(221, 208, 208, 0.349);
    border-radius: 5px;
    display: block;
}
section#home menu ul{
    margin: auto;
    list-style: none;
    text-align: right;
    display: inline-block;
}
section#home menu li{
    color: gray;
    padding: 3px;
    list-style: none;
    font-weight: bold;
    display: inline-block;
}
a {
    color: gray;
    text-decoration: none;
}
a:hover {
    width: 21%;
    color: rgb(66, 66, 66);
}
/* Conteudo Liberado */
div#liber {
    border: solid 1px black;
    border-radius: 5px;
    text-align: center;
    padding: 2%;
    margin-bottom: 3%;
    background-color: #d5d7d810;
}
div#liber a img{
    width: 98%;
    border-radius: 5px;
}
div#liber a img:hover {
    box-shadow: 5px 5px rgba(0,0,0,0.5);
}
/* Conteudo Bloqueado  */
div#lock {
    border: solid 1px black;
    border-radius: 5px;
    opacity: 0.8;
    background-color: #b1b7bb10;
    text-align: center;
    padding: 2%;
    margin-bottom: 3%;
}
div#lock a img{
    width: 98%;
    border-radius: 5px;
}
div#lock a img:hover {
    box-shadow: 5px 5px rgba(0,0,0,0.5);
}
/* Footer */
footer {
    border-radius: 5px;
    background-color: rgba(126, 123, 123, 0.267);
    width: 80%;
    margin: auto;
    text-align: center;
}
footer ul {
    padding: 5px;
    width: 100%;
    display: block;
}
footer li {
    display: inline-block;
    padding: 5px;
    font-weight: bolder;
    font-family: Arial, Helvetica, sans-serif;
}
footer li img {
    width: 10%;
    padding-right: 5px;
    border-radius: 5px;
    margin-bottom: -2%;
}
footer li a {
    color: gray;
    font-weight: bolder;
    font-family: Arial, Helvetica, sans-serif;
}